body { font-family: Arial; padding: 20px; }
input { margin: 5px; padding: 6px; }
button { padding: 6px 10px; cursor:pointer; }
table { width: 100%; margin-top: 15px; border-collapse: collapse; }
td,th { border:1px solid #ddd; padding:10px; }
